/*
!*.c
!*.h
!Makefile
!.gitignore
!*.hex
!*.S
!tests/
/tests/*
!tests/*.lds
!tests/*.S
!tests/*.c
!tests/*.hex
!tests/Makefile
!cunit/
/cunit/*
!cunit/*.c
!cunit/*.h
!cunit/Makefile
!.gitlab-ci.yml
!lint/
/lint/*
!lint/*.py
